* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman';
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0px;
  background-image: url('dark_bg.avif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
#sec3{
  padding-left: 20px;
  line-height: 1cm;
}
#sec1,#sec2{padding-top: 40px;}
li{
  color: #c5c8d1;
  font-size: x-large;
  margin: 5px;
  padding-bottom: 20px;
  list-style: none;
  text-align: center;

}
#p1{
  font-size: 0.5cm ;
  color: rgb(143 150 153); 
  padding-top: 20px;
  margin-right: 20px;
  text-align: justify;
}
h1,h2{  color: rgb(81 38 53);}
ul,li{ text-align: center;}
a{
  font-size: 0.5cm;
  color:rgb(155, 212, 255);
}
.text{
  padding-left: 35px;
  text-align: left;
  color: white;
 /* margin-top: 0px;*/
}
.Skills,.Certificates{
  font-size: 0.5cm;
  width: 100%;
  text-align: left;
}
.python{
  text-align: center;
width: 90%;
background-color:rgb(17 45 172);
}
.java,.JS{
  text-align: center;
  width:50%;
  background-color: #86a0ce;
}
.Html,.Css,.C{
  text-align: center;
  width:75%;
  background-color: rgb(91 135 242);
}
img{display: inline;}

.navBar {
  padding: 45px;
  padding-bottom: 55px;
  background-image: url('nav_bg.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 24%;
  background-color: rgb(5, 5, 5);
  color: rgb(255, 255, 255);
  display: inline-block;
  height: 65px;
  width: 100%;
}
.container,.headings {
  display: grid;
  align-items: center; 
  grid-template-columns: 0.5fr 2fr ;
  column-gap: 5px;
}
